@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: #000;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Section margin */
.sectionContainer {
  margin-top: 132px;
}

/* Testimonials section */

.testimonialsCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 55px;
}
.testimonialCard {
  width: 393px;
  height: 405px;
  border-radius: 5px;
  background-color: #141414;
  box-shadow: -6px 5px 42px -5px rgba(0, 0, 0, 0.17);
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.cardAvatarContainer {
  display: flex;
  gap: 18px;
  /* justify-content: center; */
  align-items: center;
}
.imgDiv {
  width: 47px;
  height: 47px;
  border-radius: 100px;
}
.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}
.cardAvatarContainer p {
  color: rgb(218, 218, 218);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.6%; /* 21.084px */
}
.cardAvatarContainer h3 {
  color: rgb(218, 218, 218);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 163.15%; /* 29.367px */
}
/* Portfolio section */
.portfolioCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.portfolioCard {
  width: 393px;
  height: 431px;
  border-radius: 5px;
}
.portfolioCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.portfolioLink {
  text-align: center;
  margin: 55px 0;
}

/* About me container */
.aboutMeContainer {
  display: flex;
  margin-top: 100px;
  align-items: center;
}

.aboutMeTitle {
  color: #fff;
  font-size: 46.128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.aboutMeParagraph {
  color: #dadada;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin: 31px 0;
  line-height: 150.6%; /* 21.084px */
}

.aboutMeLeft {
  display: flex;
  width: 496px;
  height: 561px;
  flex: 1;
}
.aboutMeLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.aboutMeRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 140px;
}

/* Section Headline */
.sectionTitle {
  color: #ff4900;
  font-size: 55.333px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.sectionLine {
  width: 100px;
  height: 8px;
  margin: 0 auto;
  border-radius: 100px;
  background: #ff4900;
  margin-top: 10px;
}

/* Hero container */

.heroContainer {
  position: relative;
  height: 800px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.heroContainerTitle {
  color: #fff;
  font-size: 77.974px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.heroContainerParagraph {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.6%;
  margin: 13px 0;
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: -1; /* Place the gradient layer behind the content */
}

.heroContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/assets/hero-image.jpg"), lightgray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  z-index: -2; /* Place the image layer behind the gradient layer */
}

/* Button */
.primaryBtn {
  background-color: #ff4900;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
/* main section  */
section {
  max-width: 1240px;
  margin: 0 auto;
}

/*  */

/* Font size */
.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.navItem {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-right: 26px;
  text-decoration-line: underline;
}

/* Color */
.primaryColor {
  color: #ff4900;
}
.secondaryColor {
  color: #fff;
}
.accentColor {
  color: #141414;
}

/* Overview  card */
.overviewCardContainer {
  width: 1028px;
  height: 149px;
  margin: 0 auto;
  margin-top: -70px;
  border-radius: 8px;
  padding: 27px 30px;
  background: #141414;
}
.overviewCardTitle {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.overviewCardParagraph {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
