@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background: #000;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Section margin */
.sectionContainer {
  margin-top: 132px;
}
/* Footer container */
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #fff;
}
.footerSocialIconContainer {
  display: flex;
  gap: 20px;
}

/* form */
form {
  display: flex;
  gap: 27px;
  flex-direction: column;
}
form input {
  width: 499px;
  height: 78px;
  border-radius: 4px;
  background: #141414;
  border: none;
  padding: 10px;
}
form textarea {
  border-radius: 4px;
  background: #141414;
  border: none;
  padding: 10px;
  width: 499px;
}

/* Testimonials section */

/* .testimonialsCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 55px;
} */
.testimonialCard {
  width: 393px;
  height: 405px;
  border-radius: 5px;
  background-color: #141414;
  box-shadow: -6px 5px 42px -5px rgba(0, 0, 0, 0.17);
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.cardAvatarContainer {
  display: flex;
  gap: 18px;
  /* justify-content: center; */
  align-items: center;
}
.imgDiv {
  width: 47px;
  height: 47px;
  border-radius: 100px;
}
.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}
.cardAvatarContainer p {
  color: rgb(218, 218, 218);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.6%; /* 21.084px */
}
.cardAvatarContainer h3 {
  color: rgb(218, 218, 218);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 163.15%; /* 29.367px */
}
/* Portfolio section */
/* .portfolioCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);s
  row-gap: 30px;
} */
.portfolioCard {
  width: 393px;
  height: 431px;
  border-radius: 5px;
}
.portfolioCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.portfolioLink {
  text-align: center;
  margin: 55px 0;
}

/* About me container */
.aboutMeContainer {
  display: flex;
  margin-top: 100px;
  align-items: center;
}

.aboutMeTitle {
  color: #fff;
  font-size: 46.128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.aboutMeParagraph {
  color: #dadada;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin: 31px 0;
  line-height: 150.6%; /* 21.084px */
}

.aboutMeLeft {
  display: flex;
  width: 496px;
  height: 561px;
  flex: 1;
}
.aboutMeLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.aboutMeRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 140px;
}

/* Section Headline */
.sectionTitle {
  color: #ff4900;
  font-size: 55.333px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.sectionLine {
  width: 100px;
  height: 8px;
  margin: 0 auto;
  border-radius: 100px;
  background: #ff4900;
  margin-top: 10px;
}

/* Hero container */

.heroContainer {
  position: relative;
  height: 800px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.heroContainerTitle {
  color: #fff;
  font-size: 77.974px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
.heroContainerParagraph {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150.6%;
  margin: 13px 0;
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  z-index: -1; /* Place the gradient layer behind the content */
}

.heroContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../public/assets/hero-image.jpg"), lightgray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
  z-index: -2; /* Place the image layer behind the gradient layer */
}

nav {
  position: relative;
  z-index: 1; /* Bring the navbar above the pseudo-elements */
}

/* Button */
.primaryBtn {
  background-color: #ff4900;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
/* main section  */
section {
  max-width: 1240px;
  margin: 0 auto;
}

/*  */

/* Font size */
.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.navItem {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-right: 26px;
  text-decoration-line: underline;
  cursor: pointer;
}

/* Color */
.primaryColor {
  color: #ff4900;
}
.secondaryColor {
  color: #fff;
}
.accentColor {
  color: #141414;
}

/* Overview  card */
.overviewCardContainer {
  width: 1028px;
  height: 149px;
  margin: 0 auto;
  margin-top: -70px;
  border-radius: 8px;
  padding: 27px 30px;
  background: #141414;
}
.overviewCardTitle {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.overviewCardParagraph {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
