body {
  background: #000;
  max-width: 1440px;
  margin: 0 auto;
}

/* Button */
.primaryBtn {
  background-color: #ff4900;
  color: #fff;
  padding: 6px 20px;
  font-weight: bold;
}
section {
  max-width: 1240px;
  margin: 0 auto;
}
/* Color */
.primaryColor {
  color: #ff4900;
}
.secondaryColor {
  color: #fff;
}
.accentColor {
  color: #141414;
}
